.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.loader-wrapper.active {
  display: block;
  opacity: 1;
}

.center-loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 0.7;
}

.progress-bar-loader {
  width: 400px;
  height: 24px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
}

.block-loader {
  flex-grow: 1;
  width: 100%;
  height: 20px;
  margin: 3px;
  box-sizing: border-box;
  background: transparent;
  position: relative;
  transform: skew(-30deg);
}

.block-loader::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 0, 0.5);
}

/* .particles {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

#particles-js { /* Target wadah particles.js */
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* KONDISI AWAL: Sembunyi */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}