@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", sans-serif;
  background-color: #1e2a3a;
  line-height: 1.5;
  letter-spacing: 1.5px;
  overflow: hidden;
  height: 100svh;
}

.credit-info {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  opacity: 0;
  pointer-events: none;
  display: none;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
  padding: 8px 16px;
  background: #3b4b5d;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  width: max-content;
  max-width: 90%;
}

.credit-info.hidden {
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
  pointer-events: none;
}

.creator-link{
  color: #4ee59e;
  text-decoration: none;
}

.card-cc h2{
 color: white;
 font-size: 20px;
 margin: 0;
 font-weight: 500;
 font-family: "Quicksand", sans-serif;
}

.hidden {
  display: none;
  transition: .3s ease;
}

.header {
  position: absolute;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 2;
}

.jobs-overview {
  width: 250px;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;

}

.container-model-pf {
  position: fixed;
  bottom: 280px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.title-model {
  display: flex;
  justify-content: space-between;
  background-color: #3b4b5d;
  align-items: center;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
}

.title-model h2 {
  background-color: #1e2a3a;
  border-radius: 10px;
  /* width: 56%; */
  padding: 20px;
  color: #ffff;
  font-weight: 500;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.title-bottom{
  position: fixed;
  right: 0;
  zoom: .7;
  pointer-events: none;
}

.title-bottom h2 {
    background-color: #3b4b5d;
    border-radius: 10px;
    padding: 18px 20px;
    color: #ffff;
    font-weight: 500;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    text-align: center;  
    width: 190px; 
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #3b4b5d;
  border-radius: 10px;

}

.project-title {
  font-weight: 500;
  font-size: 16px;
}

.nav-tabs {
  display: flex;
  gap: 14px;
  background-color: #3b4b5d;
  border-radius: 10px;
  padding: 8px;
}

.nav-tabs button {
  background: none;
  border: none;
  color: #ffff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Quicksand", sans-serif;
}

.nav-tabs button.active {
  background-color: #1e2a3a;
  color: #ffff;
  font-weight: 700;
}

.nav-tabs button:hover:not(.active) {
  color: #1e2a3a;
}

.card-wrapper {
  display: none!important;
  flex-direction: row;
  gap: 20px;
  position: fixed;
  bottom: 0px;
  z-index: 999;
  left: 0;
  right: 0;
  padding: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #4ee59e transparent;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  zoom: .7;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease !important;
}

.card-wrapper-bottom {
  flex-direction: row;
  gap: 20px;
  position: fixed;
  bottom: 0px;
  z-index: 999;
  left: 0;
  right: 0;
  padding: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #4ee59e transparent;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  zoom: .7;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease !important;
}

.card-wrapper::-webkit-scrollbar {
  height: 8px;
}

.card-wrapper::-webkit-scrollbar-thumb {
  background-color: #4ee59e;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.card-section {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.header-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header-top {
  position: absolute;
  bottom: 449px;
  left: 280px;
}

main {
  overflow: hidden;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: relative;
}

.bloom-card {
  background-color: #1e2a3a;
  color: #ffff;
  border-radius: 8px;
  margin-top: 15px;
  padding: 20px 12px;
  max-width: 500px;
  overflow: hidden;
}

.bloom-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bloom-card-header h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.camera-card-header,
.material-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.camera-card-header h2,
.material-card-header h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.bloom-value {
  background: #3b4b5d;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  width: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  font-family: "Saira", sans-serif;
}

.slider-bloom input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #4ee59e 50%, #3b4b5d 50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
  outline: none;
  transition: background 0.3s ease;
}

.slider-bloom input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
}

.slider-bloom input[type="range"]::-moz-track {
  -moz-appearance: none;
  height: 8px;
}

.slider-bloom input[type="range"]::-ms-track {
  appearance: none;
  height: 8px;
}

.slider-bloom input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #2ecc71;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}

.slider-bloom input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #2ecc71;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}

.slider-bloom input[type="range"]::-ms-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #2ecc71;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}

.slider-bloom input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid #2ecc71;
}

.panel-setting {
  background-color: transparent;
  position: fixed;
  top: 0;
  bottom: 0;
  /* width: 300px; */
  padding: 20px;
  opacity: 0;
  display: none;
  pointer-events: none;
  right: 0;
  overflow: hidden;
  margin: 1em;
  border-radius: 10px;
  zoom: .7;
  transform: translateX(100%);
  transition:
    transform 0.6s cubic-bezier(0.77, 0, 0.175, 1),
    opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.panel-setting-info {
  background-color: #3b4b5d;
  position: fixed;
  bottom: 0;
  /* top: 0; */
  width: 300px;
  padding: 20px;
  z-index: 9999;
  zoom: .7;
  opacity: 0;
  display: none;
  pointer-events: none;
  right: 0px;
  overflow: hidden;
  margin: 1em;
  border-radius: 10px;
  transform: translateX(100%);
  transition:
    transform 0.6s cubic-bezier(0.77, 0, 0.175, 1),
    opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.panel-active {
  transform: translateX(0) !important;
  opacity: 1 !important;
  pointer-events: auto !important;
  display: block !important;
}

.panel-setting-advance {
  position: fixed;
  bottom: 0;
  /* width: 300px; */
  /* padding: 20px; */
  z-index: 9999;
  zoom: .7;
  opacity: 0;
  display: none;
  left: 0px;
  transform: translateX(-100%);
  transition:
    transform 0.6s cubic-bezier(0.77, 0, 0.175, 1),
    opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  overflow: hidden;
  margin: 1em;
  border-radius: 10px;
}

.camera-card {
  display: flex;
  align-items: center;
  background-color: #3b4b5d;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
}

.camera-card-quality {
  display: flex;
  align-items: center;
  margin-top: 15px;
  background-color: #3b4b5d;
  border-radius: 5px;
  overflow: hidden;
  padding: 8px;
}

.material-card-init{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e2a3a;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
}

.camera-card button,
.material-card-init button,
.camera-card-quality button {
  padding: 15px 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  flex: 1;
  transition: background 0.2s;
  font-family:"Quicksand", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.panel-body-image::-webkit-scrollbar {
  height: 8px;
}

.panel-body-image::-webkit-scrollbar-track {
  background: transparent;
}

.panel-body-image::-webkit-scrollbar-thumb {
  background-color: #4ee59e;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.card-select:hover,
.active-material {
  border: 5px solid #FFA726 !important;
  border-radius: 10px;
}

.card-container-bottom {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: .5rem !important;
    grid-template-rows: repeat(2, 1fr) !important;
    padding: 0 !important;
    padding-top: 20px !important;
    transition: all 0.3s ease !important;
    background-color: transparent !important;
    margin-top: 0px !important;
    flex: 0 0 auto !important;
    width: 300px !important;
  }

@media screen and (min-width: 768px) {
  .bottom-navbar{
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  .legend-left{
    gap: 0px!important;
  }

  .dot-mesh{
    left: -6px;
    justify-self: left;
    width: 25px !important;
    height: 20px !important;
    border: 5px solid #3b4b5d;
    position: relative;
    rotate: 90deg;
    border-radius: 20px 20px 0px 0px !important;
    display: inline-block;
  }

  .legend {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #3b4b5d;
    margin-top: 10px;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .legend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0px!important;
    background-color: #1e2a3a;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 16px;
    padding-left: 0px;
    border-radius: 8px;
}

  .title-model {
    padding: 0;
  }

  .menu-by-object{
    bottom: 90px!important;
  }

  .active-camera {
    background-color: #1e2a3a !important;
    border-radius: 8px;
    color: #fff !important;
  }

  .title-model h2 {
    padding: 16px;
  }

  .menu-btn-rex i {
    font-size: 30px;
  }

  .menu-btn-rex {
    width: 70px !important;
    height: 70px !important;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: .5rem !important;
    grid-template-rows: repeat(2, 1fr) !important;
    padding: 0 !important;
    padding-top: 20px !important;
    transition: all 0.3s ease !important;
    background-color: transparent !important;
    margin-top: 0px !important;
    flex: 0 0 auto !important;
    width: 300px !important;
  }

  .panel-body-image {
    overflow-x: auto;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .card-container-desktop {
    transition: opacity 0.5s ease !important;
    opacity: 1;
  }

  .card-container-desktop.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .card-mesh {
    min-width: 260px !important;
    position: relative;
    background-color: #1e2a3a !important;
    margin-top: 20px;
    height: 30px;
    transition: height 0.5s ease !important;
  }

  .bloom-card-container {
    background-color: #1e2a3a !important;
    min-width: 260px !important;
    margin-top: 20px;
    position: relative;
    height: 30px;
    transition: height 0.5s ease !important;
  }

  .material-card-container {
    background-color: #1e2a3a !important;
    min-width: 260px !important;
    margin-top: 20px;
    position: relative;
    height: 30px;
    transition: height 0.5s ease !important;
  }

  .material-card {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .card-select {
    flex: 0 0 auto;
    background-color: #3b4b5d;
    border-radius: 10px;
    border: 5px solid #3b4b5d;
    transition: all .3s ease !important;
    overflow: hidden;
    aspect-ratio: 1 / 1;
  }

  .card-select img {
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
  }

  .camera-card{
     margin-bottom: 20px;
  }

  .camera-card-container {
    background-color: #1e2a3a !important;
    min-width: 260px !important;
    margin-top: 20px;
    position: relative;
    height: 30px;
    transition: height 0.5s ease !important;
  }

  .bloom-card {
    background-color: #3b4b5d;
  }

  .bloom-value {
    background-color: #1e2a3a;
  }


  .info-data-mesh,
  .progress-bar-mesh {
    background-color: #3b4b5d !important;
  }

  .setting-mod {
    zoom: 1.2;
  }

  .switch{
    width: 65px!important;
    height: 30px!important;
  }

  .slider:before,
  .slider-cam::before{
    width: 35px!important;
    top: 5px!important;
    height: 20px !important;
  }

  input:checked+.slider:before,
  input:checked+.slider-cam:before {
    transform: translateX(20px)!important;
  }

  .camera-card-quality {
    background-color: #1e2a3a !important;
    padding: 12px !important;
  }

  .active-qual {
    background-color: #739eb2!important;
    border-radius: 8px;
    color: #fff !important;
  }

  .camera-card-quality button {
    font-size: 18px;
  }

  .bottom-profile,
  .object-container{
    width: 98%!important;
  }

  .bottom-nav-material,
  .bottom-nav-out,
  .bottom-select,
  .bottom-data,
  .bottom-bloom,
  .bottom-nav,
  .bottom-camera,
  .bottom-material,
  .bottom-gif,
  .bottom-graphic{
    display: none!important;
    opacity: 0!important;
    pointer-events: none!important;
  }
}

@media (max-width: 600px) {
  .credit-info {
    font-size: 12px;
    bottom: 8px;
    padding: 6px 12px;


  }
}

@media screen and (max-width: 768px) {
  .header {
    zoom: .9;
  }

   .bottom-data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #3b4b5d;
    border-radius: 12px;
    padding: 15px;
    /* width: 95%;
    left: 50%;
    transform: translateX(-50%); */
    bottom: 30px;
    opacity: 1;
  }

  .card-mesh-bottom {
    position: static;
    background: transparent;
    padding: 0;
    width: 100%;
    left: -3px!important;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    zoom: 1;
  }

  /* === Kolom 1 === */
  .mesh-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    gap: 20px;
  }

  .legend-left{
    gap: 8px!important;
  }

  .dot-mesh{
    left: -5px;
    justify-self: left;
    width: 25px !important;
    height: 20px !important;
    border: 5px solid #1e2a3a;
    position: relative;
    rotate: 90deg;
    border-radius: 20px 20px 0px 0px !important;
    display: inline-block;
  }

  .info-data-mesh{
    display: flex;
    justify-content: space-between;
  }

  .progress-bar-mesh{
    margin-top: 0px!important;
  }

  .card-header-mesh{
    margin-bottom: 0px!important;
  }

  .card-mesh-bottom{
    width: 45%;
    padding-bottom: 50px!important;
    transition: width 0.4s ease;
  }

  .legend {
      flex: 0.8;
      margin-top: 0px !important;
      display: none;
      pointer-events: auto;
      flex-direction: column;
      justify-content: flex-start;
      background: #1e2a3a;
      border-radius: 10px;
      padding: 16px;
      zoom: .7;
      height: 273px;
      /* overflow-y: auto; */
      font-size: 22px !important;
      color: #fff;
      gap: 10px !important;
      transition: opacity 0.3s ease;
      opacity: 0;
  }

  /* .legend span{
    padding-left: 8px;
    padding-bottom: 3px;
    position: absolute;
  } */

  span .label .vertices {
    background-color: red;
  }
  
  .legend[style*="display: flex"] {
    opacity: 1;
  }

  .legend::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  .legend::-webkit-scrollbar-thumb {
    background-color: #739eb2;
    border-radius: 4px;
  }

  .legend::-webkit-scrollbar-track {
    background: transparent;
  }

  .legend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    border-bottom: 0px!important;
    background-color: #3b4b5d;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 16px;
    padding-left: 0px;
  }

  .legend-left {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .profile-card{
    bottom: 139px!important;
    zoom: .6!important;
  }

  .dropdown-object{
    bottom: 139px!important;
    zoom: .6!important;
  }

  /* .header-right{
    display: none;
    pointer-events: none;
  } */

  .animate-wrapper{
    position: fixed;
    right: 0px;
    bottom: 230px!important;
    zoom: .6!important;
    padding: 27px!important;
    padding-bottom: 25px!important;
  }

  input:checked+.slider:before,
  input:checked+.slider-cam:before {
    transform: translateX(18px)!important;
  }

  .card-mesh-bloom{
    padding-bottom: 46px!important;
  }

  .active-camera,
  .active-qual {
    background-color: #739eb2!important;
    border-radius: 8px;
    color: #fff !important;
  }

  .card-select img {
    height: 88px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }

  .card-select:hover,
  .active-material {
    border: 5px solid #739eb2 !important;
    border-radius: 10px;
  }

  .credit-info{
    display: none;
    opacity: 0;
  }

  .card-select {
    flex: 0 0 auto;
    background-color: #3b4b5d;
    border-radius: 10px;
    border: 5px solid #3b4b5d;
    transition: all .3s ease !important;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    padding: 8px;
  }

  .material-card {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .material-card-container{
    width: 320px!important;
  }

  .camera-card-container {
    height: 165px !important;
    min-width: 320px !important;
  }

  .camera-card {
    background-color: #1e2a3a !important;
    padding: 10px !important;
    margin-bottom: 20px;
    display: grid;
  }

  .camera-card-quality {
    background-color: #1e2a3a !important;
    padding: 12px !important;
  }

  .camera-card button,
  .camera-card-quality button {
    font-size: 18px;
  }

  .advance-setting-mod {
    left: 15px;
  }

  .toast {
    top: 10px !important;
  }

  #openSettingBtnAsd {
    display: none;
    pointer-events: none;
    opacity: 0;
  }
}

@media screen and (max-width: 375px){
  .animate-wrapper{
    width: 360px!important;
  }
  .vertical-level-selector, .vertical-level-shadow, .vertical-level-orto{
    gap: 10px;
  }
}

@media screen and (max-width: 360px){
   .animate-wrapper{
    width: 340px!important;
  }
  .vertical-level-selector, .vertical-level-shadow, .vertical-level-orto{
    gap: 5px;
  }
}

@media screen and (min-width: 425px){
  .animate-wrapper{
    width: 350px!important;
  }
}


@media screen and (max-width: 344px){
   .animate-wrapper{
    width: 310px!important;
  }
  .vertical-level-selector, .vertical-level-shadow, .vertical-level-orto{
    gap: 4px!important;
  }
}

@media screen and (min-width: 1250px){
  .panel-setting-info{
    top: 0;
  }
}