.toast {
    position: absolute;
    top: 20px;
    left: 0px;
    border-radius: 0px 10px 10px 0px;
    background: #3b4b5d;
    padding: 20px 35px 20px 25px;
    overflow: hidden;
    transform: translateX(calc(-100% + 0px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    zoom: .7;
    z-index: 9;
}

.toast.active-toast {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #1e2a3a;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 20px;
    font-weight: 400;
    color: #f3f3f3;
}

.message .text.text-1 {
    font-weight: 700;
    color: #ffff;
    text-transform: uppercase;
}

.bottom-navbar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: #3b4b5d;
    z-index: 3;
}

.bottom-data {
    position: fixed;
    bottom: 20px;
    left: -50%;
    transform: translateX(-50%) translateY(0);
    align-items: center;
    height: 10px;
    justify-content: left;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
    opacity: 0;
    transition: opacity 0.5s ease, left 0.5s ease;
    z-index: 2;
    pointer-events: none;
}

.object-container {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
    opacity: 1;
    transition: opacity 0.5s ease, left 0.5s ease;
    z-index: 1;
}

.bottom-profile {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
    z-index: 1!important;
    transition: opacity 0.5s ease, left 0.5s ease;
}

.bottom-camera {
    position: fixed;
    bottom: 0px;
    left: -50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
    opacity: 0;
    transition: opacity 0.5s ease, left 0.5s ease;
    z-index: 2;
}

.bottom-select {
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    display: none;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    align-items: center;
    width: 95%;
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    overflow-x: auto;
    gap: 5px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: #3b4b5d;
    z-index: 9;
}

.bottom-select.show {
    display: grid;
    opacity: 1;
    left: 50%;
}

.bottom-data.show {
    display: flex;
    opacity: 1;
    left: 50%;
    pointer-events: auto;
}

.bottom-graphic.show,
.bottom-gif.show {
    display: flex;
    opacity: 1;
    left: 50%;
}

.bottom-camera.show {
    opacity: 1;
    left: 50%;
}

.bottom-bloom.show,
.bottom-material.show {
    display: flex;
    opacity: 1;
    transform: translateX(-50%);
    pointer-events: auto;
}

.bottom-data.hide,
.bottom-camera.hide {
    opacity: 0;
    left: -50%;
}

.bottom-graphic.hide,
.bottom-gif.hide {
    opacity: 0;
    left: -50%;
}

.bottom-bloom.hide,
.bottom-material.hide {
    opacity: 0;
    transform: translateX(0);
}

.bottom-select::-webkit-scrollbar-thumb,
.bottom-select::-webkit-scrollbar {
    display: none;
    position: absolute;
}

.bottom-adl {
    position: fixed;
    bottom: 138px!important;
    right: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.bottom-advc {
    position: fixed;
    bottom: 138px!important;
    left: 0;
    display: grid;
    gap: 5px;
    bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.bottom-nav-out {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
}

.bottom-bloom {
    position: fixed;
    display: none;
    bottom: 20px;
    left: 50%;
    transform: translateX(60%);
    display: flex;
    align-items: center;
    opacity: 0;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

.bottom-nav-material {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    background: transparent;
}

.bottom-material {
    position: fixed;
    bottom: 0px;
    display: none;
    left: 50%;
    height: 10px;
    transform: translateX(0);
    display: flex;
    align-items: center;
    justify-content: right;
    width: 95%;
    padding: 10px 0;
    opacity: 0;
    border-radius: 10px;
    background: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
    pointer-events: none;
}

.bottom-graphic {
    position: fixed;
    bottom: 0px;
    /* display: none; */
    left: -50%;
    transform: translateX(-50%) translateX(0);
    display: flex;
    align-items: center;
    background-color: #3b4b5d;
    justify-content: space-between;
    width: 95%;
    padding: 10px 0;
    opacity: 0;
    border-radius: 10px;
    background: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.bottom-gif {
    position: fixed;
    bottom: 0px;
    display: none;
    left: -50%;
    transform: translateX(-50%) translateX(0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    opacity: 0;
    border-radius: 10px;
    background: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 4;
}

.bottom-particle {
    position: fixed;
    bottom: 0px;
    /* display: none; */
    left: 50%;
    transform: translateX(-50%) translateX(0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    padding: 10px 0;
    opacity: 1;
    border-radius: 10px;
    background: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 4;
}

.bottom-navbar button {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 6px 10px;
    cursor: pointer;
    transition: all .25s ease;
}

.bottom-nav-out button,
.bottom-nav-material button {
    background-color: #3b4b5d;
    width: 50px;
    height: 50px;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 6px 10px;
    cursor: pointer;
    transition: all .25s ease;
}

.profile-card {
    position: fixed;
    background: #3b4b5d;
    bottom: 20px;
    border: 1px solid #3b4b5d;
    border-radius: 10px;
    padding: 13px;
    left: 0;
    min-width: 240px;
    zoom: .8;
    transition: 0.3s;
}

.dropdown-object {
    position: fixed;
    background: #3b4b5d;
    bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    border: 1px solid #3b4b5d;
    border-radius: 10px;
    padding: 13px;
    right: 0;
    min-width: 240px;
    zoom: .8;
    transition: 0.3s;
}

.object-dropdown {
    position: fixed;
    background: #3b4b5d;
    bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    border: 1px solid #3b4b5d;
    border-radius: 10px;
    padding: 13px;
    right: 0;
    min-width: 240px;
    zoom: .6;
    transition: 0.3s;
}

.profile-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
    margin-left: 15px;
}

.name {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px 0px 5px 0px;
}

.status {
    color: #cdd5e0;
    font-size: 0.9rem;
    margin: 0;
}

.btn-arrow {
    background: #8b5cf6;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn-arrow:hover {
    background: #7c3aed;
}

.profile-bottom {
    margin-top: 15px;
}

.score {
    font-size: 1.8rem;
    font-weight: 700;
    color: #222;
}

.title {
    color: #777;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    flex: 1;
    background: #f3f3f3;
    border: none;
    border-radius: 12px;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.3s;
}

.actions button:hover {
    background: #8b5cf6;
    color: white;
}

#grid-view.active-exf,
#hdri-toggle.active-exf,
#aa-toggle.active-exf {
    background-color: #739eb2 !important;
}

#toggleSkj.active-free,
#toggleAni.active-free {
    background-color: #739eb2 !important;
}

.bottom-navbar button.active-bottom:not(.plus) {
    transform: scale(1);
}

.bottom-navbar button.active-bottom {
    color: #739eb2;
    background-color: #1e2a3a;
}

.bottom-navbar button i,
.bottom-nav-out button i,
.bottom-nav-material button i {
    font-size: 20px;
    pointer-events: none;
}

.bottom-navbar button.plus {
    width: 70px;
    height: 70px;
    color: #fff;
    background: #739eb2;
    border-radius: 50%;
    margin-top: -50px;
    border: 5px solid #1e2a3a;
    transition: margin-top 0.3s ease;
}

.bottom-navbar button.plus.clicked {
    margin-top: 0px;
}

/* .bottom-navbar button.plus:hover {
    transform: translateY(-4px);
} */

#toggleCls.close-mode {
    background-color: red;
}

.bottom-nav-material.hidden,
.bottom-nav-out.hidden {
    display: none !important;
    opacity: 0 !important;
    z-index: -2 !important;
    visibility: hidden !important;
}

.bottom-nav-material,
.bottom-nav-out {
    transition: opacity 0.3s ease;
}

.bottom-navbar .effect {
    position: absolute;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    /* background: #1e2a3a; */
    z-index: -1;
}

.bottom-navbar .line-effect {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 5px;
    background: #1e2a3a;
    border-radius: 0px 0px 2px 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.bottom-navbar button.active-bottom .line-effect {
    opacity: 0;
}

.select-by-object{
    background-color: #3b4b5d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.caret {
    width: 0;
    height: 0;
    border-bottom: 9px solid transparent;
    border-top: 9px solid transparent;
    border-left: 10px solid #fff;
    transition: 0.5s;
}

.caret-rotate {
    transform: rotate(90deg);
}

.menu-by-object {
    padding: 0.8em;
    list-style: none;
    background: #3b4b5d;
    border-radius: 10px;
    color: #cdd5e0;
    text-align: left;
    position: fixed;
    font-size: 22px;
    font-weight: 500;
    bottom: 208px;
    right: 0;
    min-width: 234px;
    height: 0;
    opacity: 0;
    transition: 500ms cubic-bezier(0.77, 0, 0.18, 1);
    overflow-y: scroll;
    cursor: pointer;
}

.menu-by-object::-webkit-scrollbar {
    width: 8px;
}

.menu-by-object::-webkit-scrollbar-track {
    background-color: #cdd5e0;
}

.menu-by-object::-webkit-scrollbar-thumb {
    background-color: #739eb2;
}

.menu-by-object li{
    padding: 0.7em;
    margin: 0.3em 0;
    border-radius: 5px;
    cursor: pointer;
}

.active-view{
    background-color: #739eb2;
    color: #fff;
    font-weight: 700;
}

.text-fade-in {
    animation: textfade 300ms ease-out;
}

.buka-menu{
    height: 6.8em;
    opacity: 1;
}

@keyframes textfade {
    0% {
        transform: translateX(-1em);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}