.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  background-color: #3b4b5d;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 25px;
}


.card {
    background: #1e2a3a;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
    border: 5px solid #1e2a3a;
}

.bottom-scroll{
      overflow-x: auto;
}

.card-bottom{
    background: #1e2a3a;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    position: relative;
    justify-content: flex-start;
    cursor: pointer;
    transition: .3s ease;
    border: 3px solid #3b4b5d;
    min-width: 120px;
}

.card:hover,
.card.active-model {
    border: 5px solid #FFA726;
}

.card-bottom.active-model,
.card-bottom:hover{
    border: 3px solid #739eb2;
}

.card img,
.card-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.card-container.disabled {
  pointer-events: none;
  opacity: 0; /* Optional: visual cue */
}

.menu-advance {
    display: flex;
    flex-direction: column;
    gap: 13px;
    background-color: #3b4b5d;
    border: 6px solid #3b4b5d;
    border-radius: 0px 10px 10px 0px;
    padding: 9px;
}

.judul {
    background-color: #1e2a3a;
    position: absolute;
    left: 179px;
    bottom: 282px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    padding: 8px;
    border: 5px solid #3b4b5d;
    border-radius: 0px 0px 10px 10px;
}

.txt-judul {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}

.select-model-container{
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

.select-model-container .all-model{
    width: 300px;
}

.select-model-container .all-model{
    background: rgb(254, 254, 254);
    padding: 20px;
    border-radius: 24px;
}

.select-model-container .all-model .header-select h4{
    margin: 0;
}

.select-model-container .all-model .header-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}